.bg-white
  background: #fff
.bg-pink
  // background: #fff4f5
  background: rgba(255,66,89,0.08)
.content-circle-bg
  padding: 25px 30px
  content-circle-bg()
.content
  margin: 45px auto 80px
  width: 100%
  clearfix()
.content-lr
  margin: 0 auto
  padding: 0 40px
  width: 100%
  clearfix()
.content-top
  margin-top: 45px
// header
.header
  position: relative
  top: 0
  left: 50%
  margin-left: -720px
  margin-top: 45px
  width: 1440px
  background-size: auto 100%
  height: auto
  text-align: center
// layout
.layout
  position: relative
  background: none
  width: 100%
  font-size: 14px
.ivu-layout
  background: none
.wrapper-main
  padding-top: 100px
.main
  position: relative
  z-index: 2
  display: block
  max-width: 1180px
  min-width: 900px
  padding: 0 10px
  margin:0 auto
  // overflow:hidden
  &:after
    display: block
    content: "."
    height: 0
    line-height: 0
    clear: both
    visibility: hidden
.title-black
  text-align: center
  h2
    font-size: 28px
    line-height: 48px
  p
    margin-top: 15px
    font-size: 12px
    line-height: 20px

.title-active
  position: relative
  line-height: 24px
  h3,.active-more
    padding: 20px 0
  h3
    font-size: 18px
    color: $color-text-l
  .active-more
    position: absolute
    top: 0
    right: 10px
    font-size: 14px

.link-a
  color: $color-emphasis-l
  &:hover
    color: $color-emphasis-ll
.link-underline
  text-decoration: underline
  &:hover
    text-decoration: none
.hide
  display: none
.positive
  positive()
.negative
  negative()
.btn-small
  btnSmall()
.ivu-input-group-prepend
  position: absolute
  z-index: 5
  top: 0
  left: 0
  border: 0
.ivu-icon
  font-size: 18px
  color: $color-text-d
.form-icon
  .ivu-input
    padding: 4px 7px 4px 32px
.ivu-input, .ivu-input-group-append, .ivu-input-group-prepend
  border-radius: 15px
.form-wrapper .ivu-input-group-prepend
  position: absolute
  z-index: 5
  top: 0
  left: 0
  border: 0
  margin: 2px
  border-radius: 15px
  background: transparent
  width: 28px
  height: 28px
  line-height: 24px
  text-align: center
.ivu-form-item-error .ivu-input
  border: 1px solid $color-positive-background-l
.ivu-form-item-error-tip
  color: $color-positive-background

// flex layout
.good-work
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  // justify-content: flex-start
  align-items: flex-start

// commponents-card
.card
  margin: 10px 0
  display: inline-block
  color: $color-text-article
  line-height: 24px
  .ivu-card-head
    padding: 0
  img
    width: 100%
  .card-name
    height: auto
    font-size: 14px
    color: $color-theme
    font-weight: bold
    cursor: pointer
  .card-pic
    position: relative
    height: 200px
    border-radius: 10px 10px 0 0
    background-color: $color-negative-background-m
    overflow: hidden
    cursor: pointer
  .card-label
    position: absolute
    bottom: 10px
    right: 5px
    padding: 3px 10px
    background: $color-theme-ll
    color: $color-white
    font-size: 12px
    border-radius: 3px
  .card-discribe
    padding: 10px 16px
    line-height: 20px
    .sign
      font-size: 12px
      color: $color-theme-ll
      no-wrap()
      i
        padding: 0 5px
        font-style: normal
.ivu-card
  border: 1px solid $color-negative-background-m
  box-shadow: 0 0 8px 0 rgba(220,220,236,0.40)
  border-radius: 10px

.ivu-avatar
  border: 1px solid #eee
  box-shadow: 0 0 8px 0 rgba(220,220,236,0.80)
  background: url(../images/user_pic.png) no-repeat center center
  background-size: 50% 50%
  background-color: #FFFFFF
.user-inf
  color: $color-text-article
  dl, dl dt
    margin: 0
  .user-discribe
    margin: 5px
    text-align: center
  .user-name
    margin: 0 5px
  .user-name,
  .user-name a
    color: $color-theme
    font-weight: bold
  .user-name,
  .user-name a,
  .user-area
    no-wrap()
  .enjoy
    margin: 5px
  .user-autograph
    margin: 20px 0
    height: 38px
    overflow:hidden

// commponents-card end
hr
  margin: 10px 0
  height: 0
  line-height: 0
  border: 0
  border-bottom: 1px solid $color-line
.text-red
  color:$color-sub-theme!important
.text-center
  text-align: center
ol
  list-style-position: inside
  &.text-level1 li
    list-style: cjk-ideographic
    list-style-position: inside
  &.text-level2 li
    list-style: decimal
    list-style-position: inside
  &.text-level3 li
    list-style: upper-alpha
    list-style-position: inside
  .level-none
    display: none
    margin: 0 10px
.nav-item
  cursor: pointer
.ivu-modal-close
  right: 20px
.ivu-modal-header
  h2
    padding: 5px
    font-weight: bold
.ivu-modal-footer
  display: none
// button reset
.choose
  text-align: center
  .ivu-btn
    margin: 5px 10px
    min-width: 120px
.ivu-btn-primary
  border-color: $color-positive-background
  border-color: $color-positive-background-m
  &:hover
    background: transparent
    color: $color-positive-background
.ivu-btn-ghost
  border-color: $color-negative-background-d
  &:hover
    color: $color-negative-background
    border-color: $color-negative-background
  &:active,
  &:focus
    box-shadow: 0 0 0 2px $color-negative-background-d
.ivu-btn-ghost.btn-gray
  color: $color-white
  background: $color-negative-background
  background: $color-negative-background-ll
  &:hover
    color: $color-negative-background
    background: transparent
.ivu-form-item-content
  .text-hint
    margin: 0
    color: $color-theme
    color: $color-theme-d
.ivu-back-top-inner
  border-radius: 5px
.page
  position: relative
  z-index: 999
  margin: 80px 0 100px
  font-size: 12px
  text-align: center
  a
    display: inline
  .ivu-page-item
    line-height: 32px
  .ivu-page-item,
  .ivu-page-item-jump-next,
  .ivu-page-item-jump-prev,
  .ivu-page-next,
  .ivu-page-prev,
  .ivu-select-single .ivu-select-selection,
  .ivu-page-options-elevator input
    border-color: $color-negative-background-m
  .ivu-page-item:hover,
  .ivu-page-item:hover a,
  .ivu-page-item-jump-next:hover,
  .ivu-page-next:hover,
  .ivu-page-prev:hover,
  .ivu-select-single .ivu-select-selection:hover,
  .ivu-select-visible .ivu-select-selection,
  .ivu-select-selection-focused,
  .ivu-select-selection:hover,
  .ivu-page-options-elevator input:hover
    border-color: $color-text-article
    border-color: $color-positive-background-d
    color:$color-positive-background
    color: $color-positive-background-l
  .ivu-select-visible .ivu-select-selection,
  .ivu-page-options-elevator input:hover
    box-shadow: 0 0 0 2px $color-positive-background-m
  .ivu-select-item-selected,
  .ivu-select-item-selected:hover
    background: $color-positive-background
    background: $color-positive-background-l
  .ivu-page-item-active
    background: $color-positive-background
    background: $color-positive-background-ll
    &:hover a
      color: #fff
      color: $color-white-ll
  .ivu-icon
    font-size: 12px
    line-height: 18px

.video-play
  margin: 0 auto
  width: 900px
  height: 500px
  background: $color-negative-background-d
  .video-player-box
    width: 100%
    height: 100%
    overflow: hidden
    .video-js
      width: 100%
      height: 100%
    .video-js .vjs-big-play-button
      top: 50%
      left: 50%
      width: 80px
      height: 80px
      margin-top: -40px
      margin-left: -40px
    .video-js .vjs-big-play-button
      font-size: 50px
      line-height: 70px
      border-color: #fff
      border-color: rgba(255,255,255,.8)
    .vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar
      opacity: 1
    .vjs-button > .vjs-icon-placeholder:before
      line-height: 2
    .vjs-playback-rate .vjs-playback-rate-value
      font-size: 1.2em
      line-height: 3
      color: #fff
      color: rgba(255,255,255,.8)
    .vjs-poster
      background-color: #68687A
      background-color: $color-negative-background-l
    .video-js *, .video-js *:before, .video-js *:after
      outline: none
    .video-js:hover .vjs-big-play-button, .vjs-custom-skin > .video-js .vjs-big-play-button:focus, .vjs-custom-skin > .video-js .vjs-big-play-button:active
      background-color: #2b3349
      background-color: rgba(43, 51, 63, 0.8)
      border-color: #fff
