// 颜色定义规范
$color-text-article = #786E6E
$color-highlight-background = #333
$color-dialog-background = #666
$color-positive-background = #ff4545
$color-positive-background-m = rgba(255,69,69,0.08)
$color-positive-background-d = rgba(255,69,69,0.25)
$color-positive-background-l = rgba(255,69,69,0.65)
$color-positive-background-ll = rgba(255,69,69,0.85)
$color-negative-background = #68687A
$color-negative-background-m = rgba(104,104,122,0.08)
$color-negative-background-d = rgba(104,104,122,0.25)
$color-negative-background-l = rgba(104,104,122,0.65)
$color-negative-background-ll = rgba(104,104,122,0.85)
$color-theme = #3E3D54
$color-theme-d = rgba(62,61,84,0.25)
$color-theme-l = rgba(62,61,84,0.65)
$color-theme-ll = rgba(62,61,84,0.85)
$color-sub-theme = #d93f30
$color-text = #000
$color-text-d = rgba(0, 0, 0, 0.25)
$color-text-dd = rgba(0, 0, 0, 0.45)
$color-text-l = rgba(0, 0, 0, 0.65)
$color-text-ll = rgba(0, 0, 0, 0.85)
$color-white = #fff
$color-white-d = rgba(255, 255, 255, 0.25)
$color-white-l = rgba(255, 255, 255, 0.65)
$color-white-ll = rgba(255, 255, 255, 0.85)
$color-emphasis = #FF0000
$color-emphasis-d = rgba(255,0,0,0.25)
$color-emphasis-l = rgba(255,0,0,0.65)
$color-emphasis-ll = rgba(255,0,0,0.85)

$color-pink = #FFF4F5

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px