<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!--导航栏-->
    <div>
        <a href="/vip-course">VIPll</a>
        <a href="/open-courses">公开课ll</a>
    </div>
    {{{body}}}
  </body>
</html>
